h1{
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

div.galeria{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0  ;
    float: left;
    width: 350px;
    border: 2px solid black;
}

div.galeria img{
    width: 100%;
    height: auto;
} 

div.galeria:hover{
    border: 4px solid rgb(206, 10, 26);
    transform: rotate(3deg);
}

div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}
table.items{
    align-items: center;
    margin: 100px 200px 200px 310px;
}
table.titulo{
    text-align: center;
}

table{
    border: 2px solid black;
    background: rgb(11, 131, 187);
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./../imagenes/fondo.jpg");
}
#img{
    width: 100%;
    height: 200px;
}
